.tabs{
  .pag{
    text-align: left;
    width: 100%;
    transition: all 500ms;
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 5px solid transparent;
    font-family: "UniSansHeavyCaps";
    text-transform: uppercase;
    color: @gray;
    cursor: pointer;
    &:hover{
      border-bottom: 5px solid @gray-light;
      .mobile({border-bottom: 5px solid transparent;});
    }
    &.active{
      //border-bottom: 5px solid @black;
      color: @black;
    }
  }
  .top-float,.bottom-float{
    position: absolute;
    left: 0;
    width: 25%;
    height: 5px;
    background-color: @black;
    transition: left 500ms;
  }
  .top-float{
    top: 0;
  }
  .bottom-float{
    bottom: 0;
  }
  .pag.active + .pag + .pag + .pag + .bottom-float{
    left: 0%;
    width: 25%;
  }
  .pag + .pag.active + .pag + .pag + .bottom-float{
    left: 25%;
    width: 25%;
  }
  .pag + .pag + .pag.active + .pag + .bottom-float{
    left: 50%;
    width: 25%;
  }
  .pag + .pag + .pag + .pag.active + .bottom-float{
    left: 75%;
    width: 25%;
  }


  .pagination{
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    border-bottom: 1px solid @gray-light;
    margin-bottom: 50px;
    .only-desktop();
  }
  .content{
    position: relative;
    min-height: 300px;
    overflow: hidden;
    .only-desktop();
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  .tab{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index:998;
    transition: opacity 500ms 0ms, transform 500ms 500ms;
    transform: translate3D(0,100%,0);
    &.active{
      z-index: 999;
      opacity: 1;
      transform: translate3D(0,0,0);
      transition: opacity 500ms 0ms, transform 500ms 0ms;
    }
  }
  .mtabs{
    .only-mobile();
  }
  .mcontent{
    display: none;
    padding: 20px 15px;
  }
  .mtab:first-child .mpag{
    border-top: 1px solid #d0d0d0;
  }
  .mtab.active .mpag{
    &:after{
      transform: rotate(90deg);
    }
  }
  .mpag{
    border-bottom: 1px solid #d0d0d0;
    padding: 30px 20px 25px;
    font-family: "UniSansHeavyCaps";
    text-transform: uppercase;
    position: relative;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 15px;
      width: 37px;
      height: 16px;
      background-image: url(../img/svg/arrow.svg);
      transform-origin: 50% 50%;
      transition: all 300ms;
      transform: rotate(0deg);
    }
  }
}
